{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label>Stock Symbol</label>
            <select name="symbol" buffer>
                    <option></option>
                {% for stock in stocks %}
                    <option>{{ stock['symbol'] }}</option>
                {% endfor %}
            </select>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}